/*Comments are good!*/
main .hero-container > div {
  /*max-width: unset;*/
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 474px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

/*.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}*/

.cta-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}